@font-face {
  font-family: 'ella';
  src: url('ella.ttf') format('truetype');
}

input {
  width: 100vh;
  height: 100px;
  font-size: 36px;
}

.ella {
  font-family: 'ella';
}

h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0.5rem;
    padding: 0;
  }
  nav {
    display: inline-block;
    vertical-align: middle;
    float: right;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li.icon {
    flex-basis: 25%;
  }
  
  header {
    padding: 20px;
  }
  
  a {
    display: block;
    text-align: center;
    margin: .25rem;
    padding: .5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: teal;
  }
  
  a:hover {
    background: rgb(117, 140, 70);
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }